
<p><b>Title:</b><%= @book.title %></p>

<p><b>Body:</b><%= @book.body %></p>
<ul>
  <li class="nav-item">
    <%= link_to "Edit", edit_book_path(@book.id), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Back", books_path, class: "nav-link" %>
  </li>
</ul>
